<!-- auth_service/templates/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'auth_service/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center my-2">
                    <h2 class="font-semibold"><i class="fas fa-user-circle"></i> Login </h2>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block mt-4">
                        Login
                    </button>
                </form>
                {% if form.errors %}
                    <p class="text-danger mt-2">Username or password is incorrect.</p>
                {% endif %}

                <p class="text-center mt-3 small">
                    Pas de compte ?
                    <a href="{% url 'user_auth:register' %}" class="text-decoration-none">Signup</a>
                </p>
            </div>
        </div>
  </div>