<!-- auth_service/templates/profileUpdate.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>
<body>
    
<nav> 
    <ul>
        <li><a href="{% url 'user_auth:logout' %}">Deconnexion</a></li>
        <li><a href="{% url 'annuaire_user:home' %}">Accueil</a></li>
        <li class="active"><a href="{% url 'user_auth:change_password' contact_id %}">Modifier le Mot de Passe</a></li>
    </ul>
</nav>      

    <h1>Mise à jour du Profil</h1>

    <form method="post">
        {% csrf_token %}
        {{ combined_form.as_p }}
        <button type="submit">Mettre à jour Profil</button>
    </form>
</body>
</html>
