<!-- auth_service/templates/register.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANNUAIRE</title>

    <link rel="stylesheet" href="{% static 'auth_service/css/styles.css' %}">
</head>
<body>
    <H1>ANNUAIRE</H1>

    <h1>Register</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Inscription</button>
    </form>

    <p>Déjà un compte ? <a href="{% url 'auth_login' %}">Connexion</a></p>
</body>
</html>
