{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Modification du Mot de Passe</title>
 <link rel="stylesheet" href="{% static 'auth_service/css/styles.css' %}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="{% static 'AccountsApp/css/index.css' %}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>
<body>
  <ul>
<nav> 

      <li><a href="{% url 'annuaire_user:home' %}">Accueil</a></li>
    <li><a href="{% url 'user_auth:contact_detail' contact_id %}">Mon Profil</a></li>
  
</nav> 
 </ul>
<!-- Formulaire de modification du mot de passe -->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Modification du Mot de Passe</h2>
      <form method="post" action="{% url 'user_auth:change_password' contact_id %}" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Modifier le Mot de Passe</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>