<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Contact</title>
</head>
<body>
    <h1>Détails du Contact</h1>
    
    <p><strong>Prénom:</strong> {{ contact.first_name }}</p>
    <p><strong>Nom:</strong> {{ contact.last_name }}</p>
    <p><strong>Numéro de téléphone:</strong> {{ contact.phone_number }}</p>
    <p><strong>Email:</strong> {{ contact.email }}</p>

    <!-- Ajoutez ici le code pour afficher d'autres détails du contact si nécessaire -->

    <a href="{% url 'home' %}">Retour à la page d'accueil</a>
</body>
</html>
