
{% block content %}
<div class="container">
    <nav>   
        <li><a href="{% url 'user_auth:logout' %}">Deconnexion</a></li>
        <li><a href="{% url 'annuaire_user:home' %}">Accueil</a></li>
      <li><a href="{% url 'annuaire_user:go_to_search' %}">Rechercher contact</a></li>
    </nav>
    <h1 class="text-center">Créer un Contact</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enregistrer Contact</button>
            </form>
            <!-- Ajoutez ici le code pour afficher d'autres détails du contact si nécessaire -->

            <a href="{% url 'annuaire_user:home' %}" class="btn btn-primary mt-3">Retour à la page d'accueil</a>
        </div>
    </div>
</div>
{% endblock %}
