{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Contacts</title>

 <link rel="stylesheet" href="{% static 'annuaire_service/css/styles.css' %}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>
<body>
<ul>
    <nav>   
        <li><a href="{% url 'user_auth:logout' %}">Deconnexion</a></li>
        <li><a href="{% url 'annuaire_user:home' %}">Accueil</a></li>
      <li><a href="{% url 'annuaire_user:go_to_search' %}">Rechercher contact</a></li>
    </nav>
</ul>
<div class="container">
    
    <h1 class="text-center">Créer un Contact</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enregistrer Contact</button>
            </form>
            <!-- Ajoutez ici le code pour afficher d'autres détails du contact si nécessaire -->

            <a href="{% url 'annuaire_user:home' %}" class="btn btn-primary mt-3">Retour à la page d'accueil</a>
        </div>
    </div>
</div></body>