{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Contacts</title>

 <link rel="stylesheet" href="{% static 'annuaire_service/css/styles.css' %}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>
<ul>
    <nav>   
      {% for contact in contacts %}
 
        <li><a href="{% url 'user_auth:logout' %}">Deconnexion</a></li>
        <li><a href="{% url 'annuaire_user:home' %}">Accueil</a></li>

        <li><a href="{% url 'user_auth:contact_detail' contact.id %}">Mon profil</a></li>
      <li><a href="{% url 'annuaire_user:go_to_search' %}">Rechercher contact</a></li>
      {%endfor%}

    </nav>
</ul>
 <!-- Liste des contacts -->
 <div class="container-fluid">
  {%for contact in contacts %}
    <div class="row">
      <div class="col-md-9 col-sm-12">BIENVENUE {{contact.first_name}} {{contact.last_name}} DANS L'APPLICATION ANNUAIRE </div>
            <a href="{% url 'annuaire_user:account_list' %}" class="btn btn-primary btn-sm">Liste des contacts </a>
    </div>
  {%endfor%}
 </div>

</body>
</html>
