{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Contacts</title>

 <link rel="stylesheet" href="{% static 'annuaire_service/css/styles.css' %}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>
<body>
<ul>
    <nav>   

          <li><a href="{% url 'user_auth:logout' %}">Deconnexion</a></li>
          <li><a href="{% url 'annuaire_user:home' %}">Accueil</a></li>
        <li><a href="{% url 'annuaire_user:go_to_search' %}">Rechercher contact</a></li>

      </nav>
</ul>

    <h1>Promouvoir l'utilisateur</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Êtes-vous sûr de vouloir promouvoir {{result.last_name}} {{result.first_name}} en Admin?</p>
    <form method="post" action="{% url 'annuaire_user:promove_contact' result.contact_id %}">
        {% csrf_token %}
        <button type="submit">Promouvoir</button>
        <button href="{% url 'annuaire_user:home' %}" class="btn btn-primary btn-sm">Annuler</button>
    </form>
</body>
</html>
