<!DOCTYPE html>
<html>
<head>
    <title>Rétrograder l'utilisateur</title>
</head>
<body>
    <h1>Rétrograder l'utilisateur</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Êtes-vous sûr de vouloir rétrograder cet utilisateur en Utilisateur?</p>
    <form method="post" action="{% url 'retrograde_user' user.id %}">
        {% csrf_token %}
        <button type="submit">Rétrograder</button>
        <a href="{% url 'home' %}">Annuler</a>
    </form>
</body>
</html>


