{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Contacts</title>

 <link rel="stylesheet" href="{% static 'annuaire_service/css/styles.css' %}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>
<body>

<ul>
    <nav>   

          <li><a href="{% url 'user_auth:logout' %}">Deconnexion</a></li>
          <li><a href="{% url 'annuaire_user:home' %}">Accueil</a></li>
  
      </nav>
</ul>
<!-- Formulaire de recherche -->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="get" action="{% url 'annuaire_user:search_contact' %}" class="mt-4">
        <div class="input-group">
          <input type="text" name="query" class="form-control" placeholder="Entrez le nom ou l'e-mail du contact"><br>
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary"> Rechercher </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Résultats de la recherche -->
<div class="container mt-4">
  <h2>Résultats de la recherche</h2>
  <div class="table-responsive">
    <table class="table table-hover table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Numéro de téléphone</th>
          <th scope="col">E-mail</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for result in contacts %}
        <tr style="cursor: pointer;">
          <td>{{ result.first_name }} {{ result.last_name }}</td>
          <td>{{ result.phone_number }}</td>
          <td>{{ result.email }}</td>
          <td> 
            <a href="{% url 'user_auth:contact_detail' result.id %}" class="btn btn-primary btn-sm">Voir</a>         
            {% if user_status.status == 1 %}
             <a href="{% url 'annuaire_user:update_contact' result.id %}" class="btn btn-primary btn-sm">Mettre à jour</a>
            <a href="{% url 'annuaire_user:delete_contact' result.id %}" class="btn btn-danger btn-sm">Supprimer</a> 
            <a href="{% url 'annuaire_user:promove_contact' result.id%}">Promouvoir le contact</a>
            <a href="{% url 'annuaire_user:retrograde_contact' result.id%}">Rétrograder le contact</a>
            {%endif%}
        </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">Aucun résultat trouvé.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- ... -->

</body>
</html>
